<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.epn.triplog">

    <application
        android:name=".TripLogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserRegisterActivity" />
        <activity
            android:name=".WishList"
            android:label="@string/title_activity_wish_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AdminEquipaje" />
        <activity android:name=".AdminRecordatorio" />
        <activity android:name=".AdminViaje" />
        <activity android:name=".Perfil"></activity>
        <meta-data android:name="AA_DB_NAME" android:value="triplog.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="ec.edu.epn.triplog.vo.Usuario"/>
    </application>

</manifest>